# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\HTML\Offline 3b\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
